@import url('reset.css');
@import url('fuentes.css');

body {
	background-image: url(../img/background.png);
	font-family: centurygothic, ChampagneLimousines;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {text-decoration: underline}

#wrap{
	width: 1200px;
	margin: auto;
	clear: both;
}

header{
	width: 100%;
	float: left;
	background: transparent;

}

#subheader {
	width: 1200px;
	margin: auto;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}

#logotipo{
	float: left;
	padding: 10px;
	width: 335px;
}

header #subheader nav{
	margin-top: 18px;
	width: 550px;
	float: left;
	padding: 10px;
	text-align: center;
}

header #subheader nav ul{
	padding: 10px;
}

header #subheader nav ul li{

	display: inline;
	padding: 15px;
}
header #subheader nav ul li a:hover {
	text-decoration: none;
	color: #ba0411;
}

#logoparaiso {
	width: 220px;
	float: left;
	padding: 10px;
	margin-top: 10px;
}

#main {
	width: 100%;
	margin: 10px;
	float: left;
}

#slideshow{
	width: 1200px;
	height: 704px;
	float: left;
	margin: 10px;
	background: #000;
	border:solid 20px #fff;
}

#quienessomos .title{
	float: left;
	width: 1200px;
	font-family: arial;
	font-size: 40px;
	color: #ba0411;
	font-weight: normal;
	margin-left: 150px;
}

#quienessomos .logotipo2{
	float: left;
	width: 580px;
	margin-left: 200px;

}

#quienessomos .title2{
	width: 1200px;
	font-size: 50px;
}